
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
html{
  min-height: 100vh;
}
body {
  min-height: 100vh;
  background-color: gray;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


img{
  width: 100%;
  height :auto;
}

@font-face {
  font-family: 'Futura Std';
  src: url('/font/FuturaStd-CondensedBold.woff2') format('woff2'),
      url('/font/FuturaStd-CondensedBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Std';
  src: url('/font/FuturaStd-Condensed.woff2') format('woff2'),
      url('/font/FuturaStd-Condensed.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Futura Std';
  src: url('/font/FuturaStd-Medium-.woff2') format('woff2'),
      url('/font/FuturaStd-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/font/WorkSans-Regular.woff2') format('woff2'),
      url('/font/WorkSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/font/WorkSans-Bold.woff2') format('woff2'),
      url('/font/WorkSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('/font/WorkSans-ExtraBold.woff2') format('woff2'),
      url('/font/WorkSans-ExtraBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arkema';
  src: url('/font/Arkema-Regular.woff2') format('woff2'),
      url('/font/Arkema-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

